// .timerlist {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-start;
// }

.card {
  // margin: 10px !important;
}

.content  {

  .header {
    p {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .meta {

    p {
      font-size: 15px;
      line-height: normal;

      &.service {
        color: $black;
      }

      &.notes {
        font-style: italic;
        font-size: 13px;
      }
    }
  }

}


.main-header {
  margin: 10px;
  margin-bottom: 50px;
  text-align: center;
}


.logoutButton {

  &:hover {
    cursor: pointer;
  }
}


.push-time-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
}


.disabled {
  opacity: .3;
  pointer-events: none;
}


.auth-landing-page {
  position: fixed;
  top: -10%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 40px;
  }
}
