/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $black-d;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: $brand_2dd;
// }
