$white: #fff;
$black: #404040;
$black-d: #000000;

$grey: #818285;
$grey-m: #cccdce;
$grey-l: #f4f4f7;
$grey-l2: #d5d6d7;

// BRAND COLORS
$brand_1: #252325;

//UX COLORS
$success: #5ea402;
$success-l: #f0f5ea;

$warning: #db5453;
$warning-l: #f4e8e8;
